body {
    display: flex;
    justify-content: center;
    max-width:1400px;
}

.container {
    padding:40px 60px ;
    width: 1141px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

h1 {
    font-family: 'Playfair Display-regular', serif;
    font-size: 42px;
}

.letter::first-letter {
    font-size: 110px;
    font-family: 'Playfair Display-regular', serif;
    color: #171717;
    letter-spacing: -0.009em;
}


p {
 font-family: 'Lato', sans-serif;
 font-size: 18px;
 font-weight: 300;
 letter-spacing: -0.009em;
 color: #cdcdcd;
 padding: 0;
 margin: 0;
}

span {
    quote
    font-family: 'Lato', sans-serif;
    font-size:24px ;
    font-wight:600;
    letter-spacing: -0.009em;

}
div {
    font-family: Italic;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.009em;
    color: #cdcdcd;
}

.disk {
    width: 264px;
    height: 68px;
    font-family: 'Lato-bold', sans-serif;
    font-size: 14px;
    letter-spacing: .2em;
    background-color: white;
    border: #eaa258 solid  2px;
    color: #eaa258;
}