    @import 'var';

    body{
    max-width: 1500px;
    margin: 0 auto;
    }

.mainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;

    &__fon {
    background-image: url(image/fon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 58%;
    }
    }
    @media (max-width:1500px){
    .mainer{
    max-width: 1199px;
    }
    }
    @media(max-width:1200px){
    .mainer{
    max-width: 959px;
    }
    }
    @media(max-width:960px){
    .mainer{
    max-width: 719px;
    }
    }

.header {
    display: flex;
    padding: 60px;
    margin-left: 64px;


    &__logo {
    padding-right: 350px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: 600;
    }

    &__navbox {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color:#020202;
    text-decoration: none;
    list-style: none;
    }

    &__navitem + &__navitem {
    margin-left: 60px;
    }

    &__navitem:hover {
    border-top: 3px solid #ff6033;
    padding-top: 9px;
    }
    }

.about {
    margin-left: 94px;
    margin-bottom: 400px;
    margin-top: 250px;

    &__fresh {
    display: flex;
    flex-direction: column;
    height: 42%;

    }

    &__h1 {
    color: #262626;
    font-family: $font;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    padding-bottom: 30px;
    }

    &__pe {
    color: #262626;
    font-family: $font;
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 30px;
    }

    &__button {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ff6033;
    color: white;
    }

    &__sub {
    text-align: center;
    }

    }

.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42%;
    background-color: #00BFBF;


    &__size {
    width: 54%;
    }

    &__text {
    margin: 0 auto;
    margin-left: 60px;
    width: 46%;
    }

    &__h2 {
    font-family: $font;
    font-size: 50px;
    font-weight: 700;
    color: white;
    }

    &__pe2 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #fff;
    }
    }

.mainer2 {
    display: flex;
    justify-content: center;   
    min-height: 790px;
    background-color: #70bfff;

    &__nav {
    width: 50%;
    margin: 0 auto;
    min-height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 20px;
    }

    &__button {
    width: 400px;
    height: 100px;
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    }

    &__fas {
    width: 100px;
    height: 50px;
    }
    }

.service {
    width:50%;
    background-image: url(image/tomat.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__h2 {
    color: #fff;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 90px;
    }
    }

.mainer3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 1536px;
    background-color: #ffe92f;

    &__h2 {
    text-align: center;
    color: #262626;
    font-family: 'Raleway',sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    }
    &__h3{
    color: #262626;
    font-family: 'Raleway',sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    }

    &__galery {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

    &__galary1 {
    display: flex;
    flex-direction: row;
    height: 550px;
    }

    &__peach {
    width: 770px;
    height: 550px;
    padding-right: 30px;
    }

    &__berry{
    width: 370px;
    height: 260px;
    padding-bottom: 30px;
    }
    &__ber {
    width: 370px;
    height: 260px;
    padding-top: 30px;
    }

    &__galary2 {    
    display: flex;
    flex-direction: row;
    height: 400px;
    padding-top: 30px;
    }

    &__plate {
    width: 570px;
    height: 400px;
    padding-right: 30px;
    }

    &__hurma {
    width: 570px;
    height: 400px;
    }

    &__button {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #5585a2;
    color: #fff;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    }
    }

.mainer4 {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: 500px;
    background-image: url(/dist/image/bg5.png);
    background-position: center;
    background-repeat: no-repeat;

    &__h2 {
    color: #262626;
    font-family: 'Raleway',sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 27px;
    padding: 30px;
    margin-top: 100px;
    margin-left: 60px;
    }

    &__h3 {
    width: 541px;
    height: 43px;
    color: #262626;
    font-family: 'Raleway',sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    padding: 30px;
    margin-left: 60px;
    }

    &__input { 
    width: 570px;
    height: 55px;
    border: 1px solid #262626;
    margin: 10px;
    margin-left: 90px;
    }

    &__button{
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    }
    }

    /* next blog*/

.mainer5 {
    min-height: 854px;
    display: flex;
    flex-direction: column;
    background-color: #b07cf7;

    &__container {
    display: flex;
    flex-direction: column;
    color: #ffffff;;
    font-family: 'Raleway', sans-serif; 
    }

    &__h1 {
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    }

    &__p {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    }
    &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    position: relative;
    }

    &__blog1 {    
    background-image: url(/dist/image/apple5.png);
    background-size: 370px 310px;
    margin-right: 25px;
    width: 370px;
    height: 310px;
    }

    &__image {
    text-align: left;
    }

    &__blog {
    color: white;
    vertical-align: bottom;
    margin-left: 20px;
    position: absolute;
    top: 198px;
    width: 307px;
    height: 78px;
    }

    &__description1 {
    font-family: 'Raleway', sans-serif; 
    font-size: 20px;
    font-weight: 700;
    }

    &__description2 {
    font-family: 'Raleway', sans-serif; 
    font-size: 13px;
    font-weight: 300;
    }

    &__blog2 {    
    background-image: url(/dist/image/smuzi5.png);
    background-size: 370px 310px;
    margin-right: 25px;
    width: 370px;
    height: 310px;
    }

    &__blog3 {
    background-image: url(/dist/image/strow5.png);
    background-size: 370px 310px;
    width: 370px;
    height: 310px;  
    }

    &__button {
    display: flex;
    justify-content: center; 
    margin: 0 auto;
    margin-top:70px;
    color: white;
    font-family: $font; 
    font-size: 20px;
    background-color: #f72b3b;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    width: 200px;
    height: 55px;
    }

    &__button:hover {
    transform: translate(110% 0);
    }
    }

    /* forma*/


.mainer6 {
    background-image: url(/dist/image/6copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-height: 100%;

    &__h1 {    
    padding: 100px 80px 30px 80px;
    margin: 0;
    text-align: center;
    color: #262626;
    font-family: $font;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
    }

    &__h2 {    
    padding:0px 80px 50px 80px;
    color: #262626;
    font-family:$font;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: center;
    }

    &__blok {    
    display: flex;
    flex-direction: row;
    }

.forma {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

.input {
    display: block;
    width: 500px;
    height: 50px;
    background-color: #3ebcca;
    color: white;
    }

.input::placeholder,textarea::placeholder {
    color: white;
    font-size: 15px;
    font-family: 'Realwey-Light', sans-serif;
    }

.input:focus::placeholder {
    color: transparent;
    }

.input:focus {
    border: none;
    border-left: 5px solid #355b82;
    color: white;
    }

.input:invalid {
    border: 2px solid black;
    }

.textarea {
    min-height: 250px;
    padding-top: 15px;
    }

.req {
    padding: 5px;
    font-size: 20px;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    height: 50px;
    width: 500px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #1eecf3;
    position: relative;
    background: linear-gradient(77deg, rgb(255, 167, 193) 0%, rgb(42, 238, 248) 100%);
    }

    .req:focus {
    border: none;
    border-left: 5px solid #355b82;
    }

    .lebel{
    color:rgb(255, 251, 251);
    background-color: #1eecf3;
    }

    .req::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
    }

    &__subbutton {
    margin: 20px;
    width: 200px;
    padding: 5px 25px 5px 5px;
    font-size: 20px;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    height: 34px;
    background-color: #1eecf3;
    position: relative;
    background: linear-gradient(77deg, rgb(255, 167, 193) 0%, rgb(42, 238, 248) 100%);
    }

    &__adress {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    }

    &__city,&__email,&__tel>span {
    font-family: "Raleway - Light",sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    }

    &__city,&__email,&__tel{
    font-family: "Raleway - Bold",sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    }

    &__foot {
    display: flex;
    margin: 0;
    justify-content: space-around;
    background-color: #262626;
    height: 90px;
    color: #b9b9b9;
    }

    &__fot {
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    }

    &__fot1 {
    color: #b9b9b9;
    font-family: 'Pacifico',sans-serif;
    font-size: 25px;
    font-weight: 400;
    }

    &__fot2 {
    font-family: $font;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    }
    &__fot2>span{
    color: red;
    font-family: "Raleway - Bold",sans-serif;
    font-weight: 700;
    }
    }