.wraper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.latestworks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.title {
  color: #3677fd;
  text-align: center;
  font-size: 50px;
  font-family: Lato, sans-serif;
}
.latestworks__galery {
}
.clients {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.clients__title {
  text-align: center;
  font-size: 50px;
  font-family: Lato, sans-serif;
}
.clients__firm {
  filter: grayscale(100%);
  opacity: 9;
}
.wrap {
  background-color: #f1f8ff;
  height: 360px;
}
