body{
    font-family:$font;
    font-size: $baseFontSize;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 115px;;
}

.header{
    &__title {
    color: $titleColor;
    text-align: center;
    line-height: $LineHeight;
    }

    &__subtitle {
    font-size: $baseFontSize + 44px;
    text-align: center;
    margin-bottom: 55px;
    }

    &__sepsrstor{
    @extend .separator;
    &:before{
    width: 450px;
        }

    }
}