@import 'var';
.separator{
    &:before,&:after{
        content: '' ;
        display: inline-block;
        width: 100px;
        height: 1px;
        border-top: 1px solid $secondColor;
        margin: 0 auto;
    }
}
