.wrapper{

}

h1{

}
h3{

} 

li{ 
  display: inline-block;
  width: 22%;
  height: 100%;
  background: rgba(228, 218, 218, 0.4); /* перевести HEX в RGB */ 
  margin: 0%;
  padding: 10px;
  text-align: center;  
  vertical-align: middle;
}

bottom{
    width: 200px;
    height: 55px;
    background-color: #f72b3b;
align-items: center;}