.main{
    font-size: $baseFont;
    font-family: $baseFont;
    max-width: 1920px;
    margin: 0 auto;
}

.intro{
    background: url(img/intro-bd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    min-height: 810px;
    text-align: center;
    color: $baseColor;

    &__box{

    }

    &__title{
        font-family: $fontTitle;
        font-size: rem-calc(60px);
        padding-top: 200px;
        margin-top: 0;
        @include _768{
            padding-top: 50px;
            font-size: remcalc(27px);
        }
    }
    &__desc{
        font-family: $fontTitle;
        font-size: rem-calc(60px);
        padding-top: 60px;
        padding-bottom: 75px;
        max-width: 900px;
        margin: 0 auto;
        @include _768{
            padding-top: 50px;
            font-size: remcalc(25px);
        }
    }

}


