.wrapper{
    width: 265px;
    margin: 0 auto;
}
.wrapper:not(:checked)>input{
    display: none;
}

.wrapper:not(:checked)> label{
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgray;
    text-shadow: 1px 1px #bbb;
}

.wrapper:not(:checked) >label::before{
    content: '★';
}

.wrapper > input:checked ~ label{
    color: gold;
    text-shadow: 1px 1px #c60;

}
.wrapper:not(:checked) >label:hover,
.wrapper:not(:checked) >label:hover~label{
    color: gold;
}

}
.wraper:not:checked +label:hover,
.wrapper:not:checked + label:hover ~ label
.wraper:not:checked +label:hover,
.wrapper:not:checked + label:hover ~ label
.wrapper:not:checked + label:hover ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

