<style>
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700&display=swap');
</style>
*
{ box-sizing: border-box; 
}

body{
    max-width: 1500px;
    margin: 0 auto;
}

.fon {
    background-image: url(./images/img123.jpg);
    height: 66% ;
    margin: 0;
}

.mainer { 
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    display: flex;
}

.logo__nav {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color:#020202;
    padding: 60px;
    margin: 40px 20px 20px 20px;
}

.logo__nav > li + li {
    margin-left: 60px;
}

.nav__item__logo {
    padding-right: 350px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-size: 400;
}

.nav__item .link:hover {
    border-top: 3px solid #ff6033;
    padding-top: 9px;
}

.nav__item,.link{
    text-decoration: none;
    color: #262626;}

.about {
 padding: 215px 0px 70px ;
}

.about__fresh {
  padding: 80px;
  padding-left: 94px ;
}

.h1 {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    padding-bottom: 30px;
}

.fresh__pe {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 30px;
}

.fresh__button {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ff6033;
    color: white;
}

footer{
    text-align: center;
}

.about2 {
    width: 1500px;
    height: 34%;
    background-color: #00BFBF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.text__pe2{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
}

.about2__text {
    padding: 281px 166px 231px 94px;
}

.size {
    width: 556px;
    height: 559px;
    padding: 175px 70px 94px 70px;
}







/* второй блок с svg */

.mainer2 {
    display: flex;
    justify-content: center;   
    min-height: 790px;
    background-color: #70bfff;
}

.mainer2__nav {
  width: 50%;
  margin: 0 auto;
  min-height: 790px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 20px;
}

.item__button {
    width: 400px;
    height: 100px;
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}

.icon {
    width: 100px;
    height: 50px;
}
.lane{
    border-left: 2px solid #9d9d9d;

}

.h2-blok3 {
    color: #fff;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 90px;
   
}

.service { 
    width:50%;
    background-image: url(./images/tomato.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
}
