
@font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
   }
@font-face {
    font-family: raleway-heavy;
    src: url(fonts/raleway-heavy.woff);
   }
@font-face {
    font-family: raleway-Light;
    src: url(fonts/Raleway-Light.ttf);
   }
@font-face {
    font-family: pacifico-regular;
    src: url(fonts/pacifico-regular.woff2);
   }
*
{ box-sizing: border-box; 
}

body{
    max-width: 1500px;
    margin: 0 auto;
}

.mainer { 
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.mainer__fon {
    background-image: url(./images/img123.jpg);
    background-position: center;
    height: 58% ;
}

.header {
    display: flex;
}

.nav__logo {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color:#020202;
    padding: 60px;
    margin: 40px 20px 20px 20px;
}

.nav__logo > li + li {
    margin-left: 60px;
}

.header__logo {
    padding-left: 30px;
    padding-right: 350px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-size: 400;
}

.nav__item .link:hover {
    border-top: 3px solid #ff6033;
    padding-top: 9px;
}

.nav__item,.link {
    text-decoration: none;
    color: #262626;
}
.header__burger{
    display: none;
}
@media screen and (max-widht:768px){
 .header__burger{
 display:block;
 position: relative;
 width: 30px;
 height: 20px;
 }
 .header__burger.span{
     position: absolute;
     left: 0;
     width: 100%;
     height: 2px;
     top: 9 px;
 }
 .header__burger:before,
 .header__burger:after{
     content: '';
     background-color: #fff;
     position: absolute;
     width: 100%;
     height: 2px;
     left: 0;
 }
 .header__burger:before{
     top: 0;
 }
 .header__burger:after{
     bottom: 0;
 }
 .header__nav{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     
 }
}

.about {
    margin-left: 94px;
    margin-bottom: 200px;}

.about__fresh {
    display: flex;
    flex-direction: column;
    height: 42%;
    margin-top: 150px;
}

.fresh__h1 {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    padding-bottom: 30px;
}

.fresh__pe {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 30px;
}

.fresh__button {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ff6033;
    color: white;
}

.about__sub {
    text-align: center;
}

.about2 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
    height: 42%;
    background-color: #00BFBF;
}

.text__h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
    
}

.text__pe2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.about2__text {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    width: 46%;
}

.about2__size {
    width: 54%;
}







/* второй блок с svg */

.mainer2 {
    display: flex;
    justify-content: center;   
    min-height: 790px;
    background-color: #70bfff;
}

.mainer2__nav {
    width: 50%;
    margin: 0 auto;
    min-height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 20px;
}

.item__button {
    width: 400px;
    height: 100px;
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}

.item__icon {
    width: 100px;
    height: 50px;
}

.service__h2 {
    color: #fff;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 90px;
}

.service { 
    width:50%;
    background-image: url(./images/tomato.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
}
