.wrapper{
    max-width: 1923px;
    max-width: 426px;
    display: flex;
    margin: auto;
    background-color: #1D1C1C;
    text-align: center;

}
.boxes{

}
.description{
    border-top: 10px;
    border-bottom: 10px;
}
    .title{
width: 158px;
height: 14px;
color: #ffffff;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;

 }

.bottom {

color: #ffffff;
}