
.body {
    background-color: #1D1C1C;
}

.wrapper{
    max-width: 1140;
    display: flex;
    margin: auto;
    background-color: #1D1C1C;
}

.boxes{
    flex: 1;
}

.box-icon{

}
.icon{
    text-align: center;
    margin: 0 auto;

}

.title{
    color: #CAB0B0;

}

.description{
width: 318px;
height: 63px;
color: #ffffff;
font-family: Raleway;
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 24px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}