*
{
    background: #990909;
}
.company{
    text-align: center;
}

.text2{
    text-align: center;
    font-size: 18px;
    color: white;
}
.nav{
    display: flex;
    background-color:black ;
}

.marina${
    text-align:center;
}

.links{ 
    background-color: #7D0909;
    float: left;
    width: 200px;
}

.linksright{  margin: 0 auto;
    background-color: #E3DDDD;
    padding: 100px;
    width: 200px;
    float: right;
}
.fon{
    background-color: #E3DDDD;
}

.colomn{
    background-color: #BDBDBD;
    font-size: 18px;
    text-align: center;
}
.line{
    border: none;
    background-color: #BDBDBD;
    width: 100px;
    height: 2px;
}

.colorlink${
    margin-bottom: 60px;
    color: #E9390B;
}

.blabla{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.blablab{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.blablaba{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

