*
{
    background: #990909;
}
.company{
    text-align: center;
}
    }
.text2{
    font-size: 18px;
    color: white;
}
.icons{
    flex-direction: row; 
    background:black;
}
.marina1{
     width: 100px;
    height: 222px;
}
.marina2{
    width: 100px;
   height: 222px;
}
.marina3{
    width: 100px;
   height: 222px;
}
.marina4{
    width: 100px;
   height: 222px;
}

}
.links{
    background: #7D0909;
    padding: 150px;
    float: left;
}

.linksright{  margin: 0 auto;
    background: #E3DDDD;
    padding: 100px;
    width: 200px;
    float: right;

}

.colorlink{
    margin-bottom: 60px;
    color: #E9390B;
}
.colorlink1{
    margin-bottom: 20px;
    color: #E9390B;

}
.colorlink2{
    margin-bottom: 20px;
    color: #E9390B;

}
.colorlink3{
    margin-top: 10px;
    color: #E9390B;

}

.blabla{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.blablab{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.blablaba{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

