@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}

@mixin _992 {
    @media screen and (max-width: 992px){
   @content;
    }
}


@mixin _768 {
    @media screen and (max-width: 768px){
   @content;
    }
}

@function rem-calc($font-size:0) {
    $remSize: $font-size / $baseFontSize;
    @return #{$remSize}rem;
  } 
